

.body{
    overflow-x: hidden !important;
}
.contact-form{
    color: #fff !important;
}
.reachUs .paratext{
   
    font-weight: 500 !important;
    line-height: 1.1;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.reachUs{
    background-color: #195180;
    padding: 40px 0;
    color: #fff;
}
.reach-us h3, .our-services h3 {
    font-weight: 700;
}
.reachUs hr{
color: #fff !important;
}

h3{
    font-size: 24px;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
.h4, h4 {
    font-size: 18px;
}

.hr1 {
    border-color: #fff;
    border-bottom: 2px solid #fff;
    margin-top: 0;
}
hr {
    border-color: #0e78ca;
    max-width: 17%;
    border-bottom: 2px solid #0e78ca;
    margin-top: 0;
    
}


.admission-card{
    background: #0e78ca !important;
    height: 150px !important;;
    width: 150px !important;;
    color: #fff;
    border-radius: 100% !important;
  
}
.numbers{
    position: absolute;
    bottom: -11px;
    left: 42%;
    background: #fff !important;
    color: #0e78ca !important;
    padding: 4px 10px;
    width: 31px;
    height: 31px;
    border-radius: 50%;
    line-height: 21px;
    border: 1px solid #0e78ca;
}


hr {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

.topclg-card{
    padding: 35px 30px;
   border: none;
    height: 420px !important;
    margin-bottom: 17px;
    margin-top: 13px;
    box-shadow: 0 0 11px #939393;
}

.topclg-card li i {
    transform: rotate(44deg);
    font-size: 7px;
    padding-right: 7px;
    color: #171717;
    border-radius: 0;
    float: left;
    margin-left: -1.9em;
    margin-top: 11px;
    padding-right: 9px;
}

.fa-square:before {
    content: "\f0c8";
}
.blink-few-seats{
    font-size: 1.2em;
    font-family: serif;
    color: #FFF;
    text-align: center;
    animation: animate 1.5s linear infinite !;
    margin-top: 0px;
    padding-top: 0px;
    font-weight: bold;
    border-radius: 15px 15px 15px 15px;
    background-color: #FF0000;
    width: 190px;
}
.logo {
    position: absolute;
    top: 35px;
    width: 350px;
    padding: 12px 12px 12px 28px;
    background: #195180;
    border-bottom-right-radius: 23px;
    z-index: 999;
}
.slider-position{
    position: absolute;
    top: -96px;
}

.brand-bg{
    background: #195180;
}
.topbar{
    background: #195180;
    color: #fff;
    height: 38px;
}
.ourService{
    
    background-image: linear-gradient(#1f1f1fb8,#000000c2),url(../../public/images/blackbg.png);
    padding: 40px 0;
    background-size: cover;
}
.service-card{
    padding: 10px;
    height: 172px;
    color: #fff !important;
    border: 2px solid #fff !important;
    margin-bottom: 22px !important;
    border-radius: 22px !important;
   
    width: 172px !important;
    border-width: 2px !important;
    background: transparent !important;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
input[type="text" i] {
    padding: 1px 2px;
   
}


label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 14px;
}
.social-icon{
    width: 20px !important;
    height:20px !important;
    color:#fff;

}
.social-icon li i {
    margin-bottom: 0;
    padding: 9px 0;
    font-size: 20px;
}
.social-icon-topbar ul  {
list-style: none !important;


}

.middle-item{
    display: flex;
    align-items: center;
    height: 100%; 
}

.admission-card .number {
    position: absolute;
    bottom: -7%;
    left: 40%;

    background: #fff;
    color: #0e78ca;
    padding: 4px 10px;
    width: 31px;
    height: 31px;
    border-radius: 50%;
    line-height: 21px;
    border: 1px solid #0e78ca;
}
.slider-text-block {
    position: relative;
    top: -200px;
    background: #ffffffa1;
    z-index: 10;
    padding: 20px 30px;
    color: #000;
    text-align: center;
    width: 51%;
    /* text-shadow: 0 1px 2px rgba(0,0,0,.6) !important; */
  
}
.slider-text-block h1{
    font-size: 19px !important;
}
.slick-dots li button:before{
    font-size: 20px !important;
}
.carousel-indicators .active {
    background: #0e78ca !important;
}
  .slick-dots {
    width: 12px;
    height: 12px !;
    position: absolute;
    bottom: 50px !important;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.bannerFormdiv{
    max-height:615px;
    overflow: hidden;
    --bs-gutter-x: 0 !important;
}
.bold-none{
    font-weight: 400 !important;
    font-size: 24px !important;
}
footer p{
   
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;

}
@keyframes blink {
    0% { background-color: #FFF; }
    50% { background-color: #FF0000; }
    100% { background-color: #FFF; }
  }
  
  .blinking-background {
    animation: blink 1s infinite;
  }
  .btn-submit {
    background: #fe2222;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 21px;
}

.form-control, textarea {
    background: #fff;
    border-radius: 7px;
}
.form-control {
    display: block;
    width: 100%;
   
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    
}
.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13,110,253,.25);
}
input{
    height: 30px;
}
textarea{
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.blue-border-div{
    height: 10px !important;
    border-bottom: 2px solid #0e78ca ;
    width: 17%;
}
.white-border-div{
    height: 10px !important;
    border-bottom: 2px solid #fff ;
    width: 17%;
}


.bg-dark{
    background: #3f3f3f !important;
}
.bg-light{
    background: #f9f9f9 !important;
}


@media (max-width: 768px) {
 .logo{
    width: 185px;
 }
 .bannerFormdiv{
    max-height:100% !important;
    overflow: visible;
    --bs-gutter-x: 0 !important;
}
.topclg-card{
    height: auto !important;
}
.slide-img{
    width: 100%;   
}
.bannerFormdiv .bg-dark{
    background: #195180 !important;
    /* position: relative;
    top:-96px;
    overflow: hidden; */

}
.topclg-card{
    --bs-card-spacer-y: 0 !important;
}
.slider-position{
position: static;
    top: 0px;
}
.slider-text-block{
    top: -152px;
    margin-bottom: -152px;
    width: 70%;
}
.service-container{
    align-items: center;
    align-content: center;
}
.service{
    width: 45% !important;
    margin: 10px auto;
    height: 140px !important;
}
  }


  .whatsapp {
    position: fixed;
    bottom: 70px;
    right: 10px;
    height: 50px;
    width: 50px;
    z-index: 999;
}
  